<h1 class="tect-center">order-summary</h1>
<div *ngIf = summary></div>
<div class="m-3">your from: {{summary.form.name}} </div>
<div class="m-3">strength: {{summary.form.info}} </div>
<div class="m-3">type lens: {{summary.lens}} </div>
<div class="m-3">right lens number: {{summary.numbers.right}} </div>

<div class="m-3">left lens number: {{summary.numbers.left}} </div>
<div class="m-3">c right lens number: {{summary.numbers.cRight}} </div>
<div class="m-3">c left lens number: {{summary.numbers.cLeft}} </div>
