
    <label class="m-3">right <input type="number" name="right" [(ngModel)]= 'numbers.right' required></label>
    <label class="m-3">left <input type="number" name="right" [(ngModel)]= 'numbers.left' required></label>
    <label class="m-3">cRight <input type="number" name="right" [(ngModel)]= 'numbers.cRight' required ></label>
    <label class="m-3">cLeft <input type="number" name="right" [(ngModel)]= 'numbers.cLeft' required></label>
    <button class="btn btn-danger" (click) = submit() [routerLink]='["/summary"]'> submit</button>



